<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="text-center">
      <h1 class="text-2xl mb-2 font-bold text-md">Your Statistics for the last month</h1>
      <p class="text-gray-700">
          Whatever cardigan tote bag tumblr hexagon brooklun asymmetrical gentrify, subway tile poke farm-to-table. Franzen you<br>
          probably haven't heard of them man bun deep jianbing selfies herloom prism food truck ugh squid celiac humblebrag
      </p>
    </div>
</div>


  <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-4">
    <div class="text-center">
      <div class="flex items-center justify-center w-10 h-10 mx-auto mb-3 rounded-full bg-indigo-400 sm:w-12 sm:h-12">
        <svg class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10" stroke="currentColor" viewBox="0 0 52 52">
          <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
        </svg>
      </div>
      <h6 class="text-4xl font-bold text-deep-purple-accent-400">819</h6>
      <p class="mb-2 font-bold text-md">Downloads</p>
      <p class="text-gray-700">
        It’s something that’s many of the wisest people in history have kept in mind.
      </p>
    </div>
    <div class="text-center">
      <div class="flex items-center justify-center w-10 h-10 mx-auto mb-3 rounded-full bg-indigo-400 sm:w-12 sm:h-12">
        <svg class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10" stroke="currentColor" viewBox="0 0 52 52">
          <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
        </svg>
      </div>
      <h6 class="text-4xl font-bold text-deep-purple-accent-400">1.3K</h6>
      <p class="mb-2 font-bold text-md">Users</p>
      <p class="text-gray-700">
        For many men, the acquisition of wealth does not end their troubles, it only changes them.
      </p>
    </div>
    <div class="text-center">
      <div class="flex items-center justify-center w-10 h-10 mx-auto mb-3 rounded-full bg-indigo-400 sm:w-12 sm:h-12">
        <svg class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10" stroke="currentColor" viewBox="0 0 52 52">
          <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
        </svg>
      </div>
      <h6 class="text-4xl font-bold text-deep-purple-accent-400">91</h6>
      <p class="mb-2 font-bold text-md">Subscribers</p>
      <p class="text-gray-700">
        It's a helluva start, being able to recognize what makes you happy today, in this moment.
      </p>
    </div>
    <div class="text-center">
      <div class="flex items-center justify-center w-10 h-10 mx-auto mb-3 rounded-full bg-indigo-400 sm:w-12 sm:h-12">
        <svg class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10" stroke="currentColor" viewBox="0 0 52 52">
          <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
        </svg>
      </div>
      <h6 class="text-4xl font-bold text-deep-purple-accent-400">52</h6>
      <p class="mb-2 font-bold text-md">Products</p>
      <p class="text-gray-700">
        Happiness is when what you think, what you say, and what you do are in harmony.
      </p>
    </div>
  </div>

  <h1 class="text-2xl my-1 py-7 font-bold text-md text-center">Funds raised from your event</h1>
  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-10">
  <div class="grid gap-24 row-gap-8 lg:grid-cols-5">
    <div class="grid gap-8 lg:col-span-2">
      <div>
        <p class="mb-2 text-lg font-bold">Old man</p>
        <p class="text-gray-700">
          An old man lived in the village. He was one of the most unfortunate people in the world. The whole village was tired of him, he was always gloomy, he constantly complained.
        </p>
      </div>
      <div>
        <p class="mb-2 text-lg font-bold">The Wise Man</p>
        <p class="text-gray-700">
          People have been coming to the wise man, complaining about the same problems every time. One day he told them a joke and everyone roared in laughter.
        </p>
      </div>
    </div>
    <div class="grid border divide-y rounded lg:col-span-3 sm:grid-cols-2 sm:divide-y-0 sm:divide-x">
      <div class="flex flex-col justify-between p-10">
        <div>
          <p class="text-lg font-semibold text-gray-800 sm:text-base">
            Funds Raised
          </p>
          <p class="text-2xl font-bold text-deep-purple-accent-400 sm:text-xl">
            $84 000 000
          </p>
        </div>
        <div>
          <p class="text-lg font-semibold text-gray-800 sm:text-base">
            Products
          </p>
          <p class="text-2xl font-bold text-deep-purple-accent-400 sm:text-xl">
            52
          </p>
        </div>
        <div>
          <p class="text-lg font-semibold text-gray-800 sm:text-base">
            Downloads
          </p>
          <p class="text-2xl font-bold text-deep-purple-accent-400 sm:text-xl">
            186M
          </p>
        </div>
      </div>
      <div class="flex flex-col justify-between p-10">
        <div>
          <p class="text-lg font-semibold text-gray-800 sm:text-base">Users</p>
          <p class="text-2xl font-bold text-deep-purple-accent-400 sm:text-xl">
            86K
          </p>
        </div>
        <div>
          <p class="text-lg font-semibold text-gray-800 sm:text-base">
            Installations
          </p>
          <p class="text-2xl font-bold text-deep-purple-accent-400 sm:text-xl">
            917 000
          </p>
        </div>
        <div>
          <p class="text-lg font-semibold text-gray-800 sm:text-base">
            Subscribers
          </p>
          <p class="text-2xl font-bold text-deep-purple-accent-400 sm:text-xl">
            213K
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

